:root {
    --background: #2B2B2B;
    --background-dark: #232323;
    --background-white: #fff;
    --background-dark-blue: #3491CB;
    --background-dark-yellow: #FFF16F;
    --section-bg: #464646;
    --accent-color-1: #4CA5DC;
    --accent-color-2: #E94649;
    --accent-color-3: #F9BB30;
    --txt-color: #EEEEEE;
    --font-regular: 'Atkinson Hyperlegible';
    --font-bold: 'Atkinson Hyperlegible Bold';
    --font-italic: 'Atkinson Hyperlegible Italic';
    --font-bold-italic: 'Atkinson Hyperlegible Bold Italic';
    --h1-desktop: 3.812rem;
    --h2-desktop: 3.062rem;
    --h3-desktop: 2.438rem;
    --h4-desktop: 1.938rem;
    --h5-desktop: 1.562rem;
    --h6-desktop: 1.250rem;
    --h1-mobile: 2.000rem;
    --h2-mobile: 1.812rem;
    --h3-mobile: 1.625rem;
    --h4-mobile: 1.438rem;
    --h5-mobile: 1.250rem;
    --h6-mobile: 1.125rem;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 400;
    src: url('fonts/Atkinson-Hyperlegible-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    font-weight: 700;
    src: url('fonts/Atkinson-Hyperlegible-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Italic';
    font-style: italic;
    src: url('fonts/Atkinson-Hyperlegible-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold Italic';
    font-weight: 700;
    font-style: italic;
    src: url('fonts/Atkinson-Hyperlegible-BoldItalic.ttf') format('truetype');
}

h1 {
    font-size: 3.812rem;
    line-height: 120%;
}

h2 {
    font-size: 3.062rem;
}

h3 {
    font-size: 2.438rem;
}

h4 {
    font-size: 1.938rem;
}

h5 {
    font-size: 1.562rem;
}

h6 {
    font-size: 1.250rem;
}

p {
    font-size: 1rem;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
    font-size: 35px !important;
}

.bluecard {
    background-color: var(--accent-color-1);
}

.yellowcard {
    background-color: var(--accent-color-3);
}

.redcard {
    background-color: var(--accent-color-2);
}

* {
    scroll-behavior: smooth;
}


/*--------------------------- COMPOSANTS ---------------------------------*/

.btn {
    background-color: var(--accent-color-1);
    padding: 8px 35px;
    border-radius: 100px;
    font-family: var(--font-bold);
    color: var(--background);
}


/*------------------------------ GENERAL --------------------------------------*/

body,
html {
    padding: 0;
    margin: 0;
    font-family: var(--font-regular), sans-serif;
    background-color: var(--background);
    color: var(--txt-color);
}

nav,
header {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--txt-color);
}

section {
    padding: 1%;
}


/*------------------------------------- NAVBAR ------------------------------*/

nav {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    gap: 50px;
}


/*---------------------------- HERO -----------------------------------------*/

.hero {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: 4% auto;
    padding: 1%;
}

.hero h1 {
    margin: 0;
    padding: 0;
}

.hero-txt,
.hero-img {
    width: 45%;
}

.hero-img img {
    width: 100%;
}

a.btn {
    display: inline-block;
}


/*---------------------------- CITATION ---------------------------------------------*/

aside {
    background-color: var(--accent-color-2);
    padding: 5%;
    text-align: center;
    font-family: var(--font-bold);
    font-size: var(--h3-desktop);
}

.quote-top {
    text-align: left;
    font-size: var(--h1-desktop);
    margin-left: -20px;
    margin-bottom: -25px;
}

.quote-bottom {
    text-align: right;
    font-size: var(--h1-desktop);
    margin-right: -20px;
    margin-top: -25px;
}

.author {
    text-align: right;
    font-size: var(--h5-desktop);
}


/*----------------------------- JEU INTERACTIF -------------------------*/

.exp-jeu h2 {
    text-align: center;
}

.exp-jeu-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 4% auto;
}

.exp-jeu-txt,
.exp-jeu-img {
    width: 45%;
}

.exp-jeu-img img {
    width: 100%;
}


/*--------------------------- SECTION SPORT -------------------*/

.sport {
    background-color: var(--section-bg);
}

.sport h2 {
    text-align: center;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--background-white);
    border: 0;
    font-size: var(--h4-desktop);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav .prev {
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .next {
    right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sport {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px 3%;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper span.material-symbols-outlined {
    background-color: var(--background-white);
    color: var(--background-dark);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper span.material-symbols-outlined:first-child {
    left: -22px;
}

.wrapper span.material-symbols-outlined:last-child {
    right: -22px;
}

.wrapper .caroussel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 13px);
    gap: 16px;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

.caroussel::-webkit-scrollbar {
    display: none;
}

ul.caroussel {
    padding: 0;
}

.caroussel .card {
    scroll-snap-align: start;
    list-style: none;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background-dark-blue);
    border-radius: 10px;
    cursor: grab;
}

.caroussel.no-transition {
    scroll-behavior: auto;
}

.caroussel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.caroussel.dragging .card {
    cursor: grab;
    user-select: none;
}

.card .img {
    background-color: var(--txt-color);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img img {
    width: 115px;
    height: 115px;
    object-fit: contain;
    border-radius: 50%;
}

.card h3 {
    font-size: var(--h6-desktop);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}


/*---------------------------------------- OBJECTIFS ------------------------*/

.objectif {
    padding: 1% 5%;
    margin: 4% auto;
}

.objectif h2 {
    text-align: center;
}

.obj-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.obj-grid-bloc1 {
    grid-area: 1 / 1 / 2 / 2;
}

.obj-grid-bloc2 {
    grid-area: 2 / 1 / 3 / 2;
}

.obj-grid-bloc3 {
    grid-area: 1 / 2 / 3 / 3;
}

.obj-grid-bloc4 {
    grid-area: 1 / 3 / 2 / 4;
}

.obj-grid-bloc5 {
    grid-area: 2 / 3 / 3 / 4;
}

.obj-grid-bloc-title h3 {
    font-size: var(--h6-desktop);
    margin: 0;
}

.obj-grid-bloc-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.obj-grid-bloc-number {
    font-size: var(--h3-desktop);
    color: var(--background);
    border-radius: 10px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-------------------------------- COMMENT FONCTIONNE L'APP ------------------*/

.works {
    background-color: var(--section-bg);
}

.works h2 {
    text-align: center;
}

.works-container {
    width: 90%;
    margin: 4% auto;
}

.works-carousel {
    height: 430px;
    position: relative;
    overflow: hidden;
}

.works-slider {
    display: flex;
    width: 600%;
    transition: all 0.3s;
}

.works-slider article {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2%;
    gap: 30px;
}

.works-slider article h3 {
    margin: 0;
}

.works-carousel ul {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.works-carousel ul li {
    margin: 10px;
    cursor: pointer;
    opacity: 0.5;
    width: 15%;
}

.works-carousel ul li.selected {
    opacity: 1;
}

.nav .prev-works {
    left: 0;
    top: 35%;
}

.nav .next-works {
    right: 0;
    top: 35%;
}

.white-point {
    color: var(--txt-color);
}

li.white-point {
    border-bottom: 2px solid var(--txt-color);
    padding-bottom: 5px;
}

.blue-point {
    color: var(--accent-color-1);
}

li.blue-point {
    border-bottom: 2px solid var(--accent-color-1);
    padding-bottom: 5px;
}

.red-point {
    color: var(--accent-color-2);
}

li.red-point {
    border-bottom: 2px solid var(--accent-color-2);
    padding-bottom: 5px;
}

.yellow-point {
    color: var(--accent-color-3);
}

li.yellow-point {
    border-bottom: 2px solid var(--accent-color-3);
    padding-bottom: 5px;
}


/*----------------------------- DOWNLOAD ---------------------*/

.download {
    padding: 1%;
    background-color: var(--background-dark-yellow);
}

.download-container {
    background-color: var(--section-bg);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 4% auto;
    border-radius: 10px;
    padding: 2%;
}

.download-button {
    display: flex;
    gap: 10px;
}

.download-button img {
    height: 50px;
}

.download-txt,
.download-img {
    width: 45%;
}

.download-txt h2 {
    margin: 0;
}

.download-img img {
    width: 100%;
}


/*------------------------- FOOTER ---------------------------*/

.footer-top {
    background-color: var(--section-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 2%;
}

.footer-top h2 {
    font-size: var(--h5-desktop);
    margin-bottom: 0em;
}

.footer-top-content ul {
    margin: 0;
    padding: 0;
}

.footer-top-content ul li {
    list-style: none;
}

.footer-top-content.follow ul {
    gap: 20px;
    display: flex;
}

.footer-top-content.follow ul img {
    width: 40px;
}

.footer-top-content ul img {
    width: 150px;
}

.footer-btm {
    background-color: var(--background-dark);
    text-align: center;
    padding: 1%;
}

.footer-btm p {
    margin: 0;
}

.footer-btm span {
    font-family: var(--font-bold);
    font-size: var(--h6-desktop);
}


/*------------------------------- MEDIAS QUERIES -------------------------------*/


/* 1024, petit desktop */

@media screen and (max-width: 1024px) {
    /* section hero */
    .hero {
        align-items: center;
    }
    .hero-txt {
        width: 50%;
    }
    .hero-img {
        width: 40%;
    }
    /*section sport*/
    .wrapper .caroussel {
        grid-auto-columns: calc((100% / 3) - 12px);
    }
    /* section objectifs */
    .obj-grid {
        grid-column-gap: 30px;
    }
    /* section téléchargement */
    .download-txt {
        width: 50%;
    }
    .download-img {
        width: 40%;
    }
}


/* tablette */

@media screen and (max-width: 768px) {
    /* navbar */
    nav ul {
        display: none;
    }
    /* hero */
    .hero h1 {
        font-size: var(--h1-mobile);
    }
    /* citation */
    .quote-top,
    .quote-bottom {
        font-size: var(--h1-mobile);
    }
    aside {
        font-size: var(--h3-mobile)
    }
    .author {
        font-size: var(--h5-mobile)
    }
    /* section jeu interactif */
    .exp-jeu h2 {
        font-size: var(--h2-mobile);
        margin: 3%;
    }
    /* section sport */
    .sport h2 {
        font-size: var(--h2-mobile);
        margin: 3%;
    }
    .card h3 {
        font-size: var(--h6-mobile);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    /*section objectifs */
    .objectif h2 {
        font-size: var(--h2-mobile);
        margin: 3%;
    }
    .obj-grid-bloc-title h3 {
        font-size: var(--h6-mobile);
    }
    .obj-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .obj-grid-bloc1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .obj-grid-bloc2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .obj-grid-bloc4 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .obj-grid-bloc5 {
        grid-area: 2 / 2 / 3 / 3;
    }
    /* fonctionnement de l'app */
    .works h2 {
        font-size: var(--h2-mobile);
        margin: 3%;
    }
    .works-slider h3 {
        font-size: var(--h3-mobile);
    }
    .works-slider article {
        align-items: center;
    }
    .works-slider .img {
        width: 40%;
    }
    .works-slider .img img {
        width: 100%;
    }
    .works-slider .content {
        width: 50%;
    }
    .works-carousel {
        height: 100%;
    }
    .works-carousel ul {
        display: none;
    }
    .nav .prev-works {
        left: 0;
        top: 50%;
    }
    .nav .next-works {
        right: 0;
        top: 50%;
    }
    /* téléchargement */
    .download-txt h2 {
        font-size: var(--h2-mobile);
        margin: 3%;
    }
    .download-container {
        width: 90%;
    }
}


/* mobile */

@media screen and (max-width: 640px) {
    /*taille de la police en mobile */
    h1 {
        font-size: 2.000rem;
        line-height: 120%;
    }
    h2 {
        font-size: 1.812rem;
    }
    h3 {
        font-size: 1.625rem;
    }
    h4 {
        font-size: 1.438rem;
    }
    h5 {
        font-size: 1.250rem;
    }
    h6 {
        font-size: 1.125 rem;
    }
    p {
        font-size: 1rem;
    }
    /* hero */
    .hero {
        flex-wrap: wrap;
        width: 90%;
        margin: 4% auto;
        padding: 1%;
        flex-direction: column;
        align-content: center;
        gap: 35px;
    }
    .hero-txt,
    .hero-img {
        width: 90%;
    }
    .hero-txt {
        display: flex;
        flex-direction: column;
    }
    a.btn {
        margin: 0 auto;
    }
    /* jeu interactif */
    .exp-jeu-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .exp-jeu-txt,
    .exp-jeu-img {
        width: 90%;
    }
    /* sport */
    .wrapper .caroussel {
        grid-auto-columns: 100%;
    }
    /* objectifs */
    .objectif {
        margin: 4%;
    }
    .obj-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 0fr);
        grid-row-gap: 20px;
    }
    .obj-grid-bloc1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .obj-grid-bloc2 {
        grid-area: 4 / 1 / 5 / 2;
    }
    .obj-grid-bloc3 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .obj-grid-bloc4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .obj-grid-bloc5 {
        grid-area: 5 / 1 / 6 / 2;
    }
    .obj-grid-bloc {
        padding: 7%;
        background-color: var(--background-dark);
        border-radius: 10px;
    }
    .obj-grid-bloc-title h3 {
        font-size: var(--h5-mobile);
        text-align: center;
    }
    .obj-grid-bloc-number {
        font-size: var(--h1-mobile);
    }
    .obj-grid-bloc-title {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* fonctionnement de l'app */
    .works {
        padding: 10% 0;
    }
    .works-slider article {
        flex-direction: column;
        gap: 10px;
    }
    .works-slider .img {
        width: 113%;
    }
    .works-slider .content {
        width: 113%;
    }
    .nav .prev-works {
        left: 0;
        top: 32%;
    }
    .nav .next-works {
        right: 0;
        top: 32%;
    }
    /* télécharger l'app */
    .download-container {
        flex-direction: column;
        gap: 20px;
        padding: 6% 2%;
        background-color: transparent;
    }
    .download-txt,
    .download-img {
        width: 90%;
    }
    .download-button {
        justify-content: center;
    }
    .download-button a {
        width: 50%;
    }
    /* footer */
    .footer-top {
        flex-direction: column;
        padding: 5% 10%;
    }
    .footer-top-content ul {
        display: flex;
        gap: 20px;
    }
    .footer-top-content.follow ul {
        padding: 5% 0 0 0;
    }
    .footer-btm {
        padding: 3%;
    }
    .footer-btm span {
        font-size: var(--h6-mobile);
    }
}