:root {
    --font-regular: 'Atkinson Hyperlegible';
    --font-bold: 'Atkinson Hyperlegible Bold';
    --font-italic: 'Atkinson Hyperlegible Italic';
    --font-bold-italic: 'Atkinson Hyperlegible Bold Italic';
    --h1-desktop: 3.812rem;
    --h2-desktop: 3.062rem;
    --h3-desktop: 2.438rem;
    --h4-desktop: 1.938rem;
    --h5-desktop: 1.562rem;
    --h6-desktop: 1.250rem;
    --h1-mobile: 2.000rem;
    --h2-mobile: 1.812rem;
    --h3-mobile: 1.625rem;
    --h4-mobile: 1.438rem;
    --h5-mobile: 1.250rem;
    --h6-mobile: 1.125rem;
}


.theme-light {
    --background: #f7f7f7;
    --background-dark: #ececec;
    --background-white: #fff;
    --background-dark-blue: #3491CB;
    --background-dark-yellow: #3491CB;
    --section-bg: #e4e4e4;
    --footer: #464646;
    --color-btn: linear-gradient(225deg, #F9BB30 0%, #E94649 55.73%, #4CA5DC 100%);
    --accent-color-1: #268BCA;
    --accent-color-2: #BC0D0D;
    --accent-color-3: #E0A624;
    --txt-color: #161616;
    --txt-color-quote: #EEEEEE;
}
.theme-dark {
   --background: #2B2B2B;
    --background-dark: #232323;
    --background-white: #fff;
    --background-dark-blue: #3491CB;
    --background-dark-yellow: #FFF16F;
    --section-bg: #464646;
    --footer: #464646;
    --accent-color-1: #4CA5DC;
    --color-btn: #4CA5DC;
    --accent-color-2: #E94649;
    --accent-color-3: #F9BB30;
    --txt-color: #EEEEEE;
    --txt-color-quote: #EEEEEE;
}
.container {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
.container h1 {
  color: var(--txt-color);
  font-family: sans-serif;
}
.container button {
  color: var(--txt-color);
  background: var(--accent-color-1);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 400;
    src: url('../fonts/Atkinson-Hyperlegible-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    font-weight: 700;
    src: url('../fonts/Atkinson-Hyperlegible-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Italic';
    font-style: italic;
    src: url('../fonts/Atkinson-Hyperlegible-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold Italic';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Atkinson-Hyperlegible-BoldItalic.ttf') format('truetype');
}

h1 {
    font-size: 3.812rem;
    line-height: 120%;
}

h2 {
    font-size: 3.062rem;
}

h3 {
    font-size: 2.438rem;
}

h4 {
    font-size: 1.938rem;
}

h5 {
    font-size: 1.562rem;
}

h6 {
    font-size: 1.250rem;
}

p {
    font-size: 1rem;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
    font-size: 35px !important;
}

.bluecard {
    background-color: var(--accent-color-1);
}

.yellowcard {
    background-color: var(--accent-color-3);
}

.redcard {
    background-color: var(--accent-color-2);
}

* {
    scroll-behavior: smooth;
}

/*Scroll reveal */
html.sr .load-hidden {
    visibility: hidden;
}

/*--------------------------- COMPOSANTS ---------------------------------*/

.btn {
    background: var(--color-btn);
    padding: 8px 35px;
    border-radius: 100px;
    font-family: var(--font-bold);
    color: var(--background);
}

.color-img{
    color: var(--txt-color);
}


/*------------------------------ GENERAL --------------------------------------*/

body,
html {
    padding: 0;
    margin: 0;
    font-family: var(--font-regular), sans-serif;
    background-color: var(--background);
    color: var(--txt-color);
}

nav,
header {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--txt-color);
}

section {
    padding: 1%;
}

/*------------------------------------- NAVBAR ------------------------------*/

nav {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    gap: 50px;
}

nav img{
    max-width: 30px;
}

/*------------------------- FOOTER ---------------------------*/

.footer-top {
    background-color: var(--footer);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 2%;
    color: var(--txt-color-quote);
}

.footer-top a{
    color: var(--txt-color-quote);
}

.footer-top h2 {
    font-size: var(--h5-desktop);
    margin-bottom: 0em;
}

.footer-top-content ul {
    margin: 0;
    padding: 0;
}

.footer-top-content ul li {
    list-style: none;
}

.footer-top-content.follow ul {
    gap: 20px;
    display: flex;
}

.footer-top-content.follow ul img {
    width: 40px;
}

.footer-top-content ul img {
    width: 150px;
}

.footer-btm {
    background-color: var(--background-dark);
    text-align: center;
    padding: 1%;
}

.footer-btm p {
    margin: 0;
}

.footer-btm span {
    font-family: var(--font-bold);
    font-size: var(--h6-desktop);
}